.adduser {
  position: absolute;
  z-index: 3;
  width: 40%;
  height: 50%;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-template-rows: 15% 85%;
  // .form_content {
  //   display: flex;
  //   margin: 1.5rem 1rem;
  //   outline: 0;
  //   label {
  //     font-size: 1rem;
  //   }
  //   input {
  //     height: 1.2rem;
  //   }
  //   select {
  //     width: 10rem;
  //     height: 1.5rem;
  //   }
  //   .error_message {
  //     color: red;
  //     font-size: 0.7rem;
  //     margin: 0 1rem;
  //   }
  // }
  .form {
    display: grid;
    grid-template-rows: 80% 20%;
    .form_content {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 90% 10%;
      margin: 0 1rem;
      .form_label {
        display: inherit;
        .label {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
      .form_input {
        display: inherit;
        align-items: center;
        grid-template-rows: 20% 20% 20% 20% 20%;
        input,
        select {
          border-radius: 5px;
          border-width: 1px;
          padding: 3px;
          margin-left: 0;
          border: 1px solid #ccc;
          font-size: 1em;
          box-shadow: 0 1px 2px #eee inset;
        }
      }
    }
    .from_btn {
      margin: 1rem;
    }
  }
}
.backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
}

.error {
  color: red;
  margin: 1rem 0;
  font-size: 0.8rem;
}
.button {
  background-color: #0ab4ff;
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: white;
  margin: 0 1rem;
  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 10px -3px #0ab4ff;
  }
}
